.slider-container{
    height: 52rem;
    position: relative;
    cursor: grab;
    overflow: hidden;
}
.slider-wrapper{
    grid-template-columns: repeat(7,30rem);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0s ease-in;
}
.slider-wrapper .slider{
    overflow: hidden;
}
.slider-container{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider-container::-webkit-scrollbar{
    display: none;
}

@media(max-width: 991px){
    .slider-container{
        height: 54rem;
    }
}
