:root{
	--color: #e7c82f;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container{
	width: 100%;
	min-height: 100vh;
	position: relative;
	background: linear-gradient(45deg, #22046b, #e14e42);
	color: #fff;
}
.navbar{
	width: 90%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}
.logo{
	width: 120px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.menu-icon{
	cursor: pointer;
	width: 30px;
	margin-left: 80px;
	position: relative;
	z-index: 2;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	margin-left: 50px;
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	padding: 5px 2px;
	color: #fff;
	font-size: 14px;
	position: relative;
	z-index: 2;
}
nav ul li a:hover{
	color: var(--color);
}
.row{
	min-height: 85vh;
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: wrap;
}
.row .col{
	margin: 20px 0;
	flex-basis: 50%;
	min-width: 300px;
	position: relative;
	height: 100%;
}
.textbox{
	max-width: 400px;
	margin-top: 100px;
}
.textbox h5{
	color: #e7c82f;
}
.textbox h1{
	font-size: 50px;
	letter-spacing: 3px;
	font-weight: 100;
	line-height: 65px;
}
.gallery-box{
	max-width: 330px;
	position: relative;
	margin: auto;
}
.gallery-box img{
	width: 100%;
	border: 10px solid rgba(255,255,255,.2);
}
.gallery-box ul{
	position: absolute;
	right: -100px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.gallery-box ul li{
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	padding: 0 30px;
	margin-bottom: 30px;
	position: relative;
	cursor: pointer;
}
.gallery-box .active{
	color: var(--color);
}
.gallery-box ul li:after{
	content: '';
	width: 30px;
	height: 2px;
	background: transparent;
	position: absolute;
	top: 8px;
	left: -5px;
}
.gallery-box .active:after{
	background: var(--color);
}
.small-icon1{
	width: 15px;
	position: absolute;
	right: 200px;
	top: -10px;
	opacity: .3;
}
.small-icon2{
	width: 25px;
	position: absolute;
	right: 200px;
	bottom: -100px;
	opacity: .3;
}
.small-icon3{
	width: 25px;
	position: absolute;
	right: 50px;
	top: 200px;
	opacity: .5;
	transform: rotate(45deg);
}
.small-icon4{
	width: 250px;
	position: absolute;
	top: 120px;
	left: -150px;
	opacity: .3;
}
.small-icon5{
	width: 25px;
	position: absolute;
	bottom: 60px;
	left: 50px;
	opacity: .3;
}

/*--------------Cursor point----------------*/
body{
	cursor: grab;
	/*cursor: url('images/square.png'), auto;*/
	overflow: hidden;
}
#cursor{
	width: 50px;
	height: 50px;
	background: var(--color);
	border-radius: 50%;
	position: absolute;
	display: none;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}
div:hover ~ #cursor{
	transform: scale(.5);
}